<!-- <html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Supplier's Response</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script src="h.resources/script.js"></script>
	<link href = "h.resources/bootstrap.min.css" rel="stylesheet"> 
    <link href="h.resources/metisMenu.min.css" rel="stylesheet">
    <link href="h.resources/dataTables.bootstrap.css" rel="stylesheet">
    <link href="h.resources/dataTables.responsive.css" rel="stylesheet">
    <link href="h.resources/sb-admin-2.css" rel="stylesheet">
    <link href="h.resources/font-awesome.min.css" rel="stylesheet" type="text/css">
	
</head>
<body>
    <html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">  -->





<div ng-app="myApp" ng-controller="proposalTableCtrl">
    	 <!-- <p><b>Proposal ID: </b></p> -->
    	 <div>
		Enter the proposal ID you wish to view: <input type="text" data-ng-model="proposal_id" id="proposal_id" name="proposal_id"/>
		<button data-ng-click="getFeatures()" type="submit">Go</button>
		</div>
</div>


<!-- </body>
</html> -->