 <div>
 		<fieldset>
   			<legend style="font:bold">Invoices Details</legend>
   			</br>
 			<table border=1 class="table table-striped table-bordered table-hover">
				<tr>
					<td>Invoice No:</td><td><input type="text" ng-model="invoiceID"/></td>
					<td>Bill Book No:</td><td ><input type="text" ng-model="billBookNo"/> </td>
				</tr>
				<tr>
					<td>Contract/PO No:</td><td><input type="text" ng-model="poNo"/></td>
					<td>Invoice Amount:</td><td><input type="text" ng-model="invoiceAmt"/> </td>
				</tr>
				<tr>
					<td>Buyer:</td><td><input type="text" ng-model="buyerId"/></td>
					<td>Seller:</td><td><input type="text" ng-model="sellerId"/></td>
				</tr>
				<tr>
					<td>Invoice Created Date:</td><td><input type="text" ng-model="invoiceCreatedDate"/></td>
					<td>Payment Date:</td><td><input type="text" ng-model="paymentDate"/> </td>
				</tr>
				<tr>
					<td>Invoice Due Date:</td><td><input type="text" ng-model="invoiceDueDate"/></td>
				</tr>
			</table>
   		</fieldset>
   		</br>
   		</br>
   		<fieldset>	
   			<legend><b> ADD Product Details</b></legend>
   			</br>
   			<table  border=1 class="table table-striped table-bordered table-hover">
   					<tr>
						<th>Product Id</th>
   						<th>Quantity</th>
   						<th>Gross Amount</th>
   						<th>Tax</th>
   						<th>Net Amount</th>
   					</tr>
   					<tr>
   						<td><input type="text" ng-model="productID"></td>
   						<td><input type="text" ng-model="quantity"></td>
   						<td><input type="text" ng-model="grossAmount"></td>
   						<td><input type="text" ng-model="tax"></td>
   						<td><input type="text" ng-model="netAmount"></td>
                    </tr>
   				</table>
   				</fieldset>
   			<input type="button" value="Save As Draft"/>
   		</div>
</div> 	    

